.about__intro--centered{
    max-width: 66.5rem;
    margin: auto;
}

#about__intro{
    padding: 3rem 1.6rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &>iframe{
        width: 100%;
        max-width: 73.125rem;
        height: calc(335 / 186 * 100%); 
        margin: auto
    }

    &>p{
        @extend .about__intro--centered;
        @extend .old-standard-text;
        font-size: 32px;
        font-weight: 400;
        line-height: 39.55px;
        letter-spacing: -1.159999966621399px;
        text-align: center;
    }

    &__services{
        @extend .about__intro--centered;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
        width: 100%;

        &>div{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1.5rem .1rem;
            gap: 1rem;

            &:hover{
                background-color: map-get($map: $theme-colors, $key: tertiary);
                color: white;

                &>img{
                    filter: grayscale(100%) brightness(200%);
                }
            }

            &>img{
                width: 40%;
                filter: sepia(1) hue-rotate() saturate(700%) brightness(60%);
            }

            &>strong{
                font-family: map-get($map: $fonts, $key: archivo);
                font-size: 12px;
                font-weight: 700;
                line-height: 14px;
                letter-spacing: 2.4000000953674316px;
                text-align: center;
            }
        }
    }

    &__tour{
        @extend .about__intro--centered;
        $gap: 1.5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        gap: $gap;
        box-shadow: 0px 14px 24px 0px #B8B8B81A;

        &>img{
            width: 100%;
            max-width: 33.125rem;
        }

        &__info{
            display: flex;
            flex-direction: column;
            gap: $gap;

            &>*{
                max-width: 60rem;
            }

            &>strong{
                @extend .archivo-header;
                font-size: 14px;
                font-weight: 700;
                line-height: 15.23px;
                letter-spacing: 2.799999952316284px;        }
                    
            &>h3{
                @extend .old-standard-text;
                font-size: 40px;
                font-weight: 400;
                line-height: 49.44px;
                letter-spacing: -1.0499999523162842px;
            }

            &>p{
                @extend .archivo-header;
                @extend .paragraph;
            }
        }

    }
}

@media(min-width: $desktop-size){
    @mixin text($line-height: 72px){
        font-size: 72px;
        line-height: $line-height;
        letter-spacing: -2.1600000858306885px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    #about{
        &__section-intro{
            &>h2{
                @include text();
            }
        }

        &__intro{
            &>iframe{
                height: 40.625rem;
            }

            &>p{
                @include text(88.99px);
            }

            &__services{
                display: flex;
                // grid-template-rows: 1fr;
                // grid-template-columns: auto;
            }

            &__tour{
                flex-direction: row;

                &__info{
                    &>h3{
                        font-size: 48px;
                        line-height: 59.33px;
                        letter-spacing: -1.440000057220459px;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                    }
                }
            }
        }
    }
}