$font-archivo: map-get($map: $fonts, $key: archivo);

.home__tour {
    @extend .section-intro;
    gap: 2rem;

    &>p {
        max-width: 67%;
        font-family: $font-archivo;
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 2.799999952316284px;
    }

    &>h1{
        font-family: map-get($map: $fonts, $key: old-standard);
        font-size: 56px;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: -1.2000000476837158px;
        text-align: left;
    }

    &__btns{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}