$archivo-font: map-get($map: $fonts, $key: archivo);
$old-standard-font: map-get($map: $fonts, $key: old-standard); 
$font-roboto: map-get($map: $fonts, $key: roboto);

$lateral-padding: 1.2rem;

.section{
    &-intro{
        position: relative;
        padding: 6rem $lateral-padding;
        background-color: map-get($map: $theme-colors, $key: secondary);
        color: white;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    
        &>strong{
            font-family: $archivo-font;
            font-size: 13px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 2.799999952316284px;
        }
    
        &>h2{
            font-family: $old-standard-font;
            font-size: 56px;
            font-weight: 400;
            line-height: 60px;
            letter-spacing: -1.2000000476837158px;
        }
    
        &__location{
            background-color: white;
            padding: 1.2rem;
            width: fit-content;
            position: absolute;
            bottom: 0;
            right: $lateral-padding;
    
            &>span{
                font-family: $archivo-font;
                color: black;
                font-size: 16px;
                font-weight: 700;
                line-height: 17.41px;
                letter-spacing: -0.47999998927116394px;
    
                &:last-child{
                    color: map-get($map: $theme-colors, $key: tertiary);
                }
            }

        }
    }

    &-header{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        &__strong, &>strong{
            @extend .archivo-header;
            font-size: 14px;
            font-weight: 700;
            line-height: 15.23px;
            letter-spacing: 2.799999952316284px;
        }

        &__title, &>h3{
            @extend .old-standard-text;
            font-size: 56px;
            line-height: 49.44px;
            letter-spacing: -1.0499999523162842px;

            &.--small{
                font-size: 40px;
                line-height: 48px;
                letter-spacing: -1.440000057220459px;
            }
        }

        &.--center{
            text-align: center;
        }

        &.--theme{
            & .section-header__strong, &>strong{
                color: map-get($map: $theme-colors, $key: senary);
            }
        }

        &.--dark{
            &>*{
                color: white;
            }
        }
    }
}


$gap-value: 1rem;
@mixin overlap($value){
    margin-top: - ($gap-value + $value);
}

.room{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    &__img{
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: cover;
    }

    &__services{
        margin-bottom: -3.8rem;
        position: relative;
        z-index: 2;
        max-width: 20rem;
        margin-inline: auto;
    }

    &__description{
        $padding: 1.6rem;

        @include overlap($padding);
        z-index: 3;
        background-color: white;
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-block: $padding;
        margin-inline: auto;
        max-width: 55rem;

        &__text{
            &>h4{
                font-family: $old-standard-font;
                color: black;
                font-size: 28px;
                font-weight: 400;
                line-height: 36px;
                letter-spacing: -1.2000000476837158px;
            }
    
            &>p{
                @extend .roboto-text;
                line-height: 24px;
                text-align: center;
            }
        }


        &__price{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: map-get($map: $theme-colors, $key: tertiary);

            font-family: $archivo-font;
            font-weight: 700;
            line-height: 43px;
            text-align: center;

            &__number{
                font-size: 32px
            }

            &__night{
                font-size: 13px
            }

            &__book{
                margin-left: 1rem;
                font-family: $archivo-font;
                font-size: 16px;
                line-height: 17.41px;
                color: #BDBDBD;
            }

            &.--small{
                &>.room__description__price{
                    &__number{
                        font-size: 23px;
                        line-height: 25.02px; 
                    }
                    &__night{
                        font-size: 11px;
                        line-height: 11.97px;
                    }
                }
                               
            }
            &.--red{
                color: #DE5777;
            }
        }
    }

    &.--variant{
        &>.room{
            &__services{
                position: absolute;
                top: 46%;
                z-index: 4;
            }

            &__img{
                margin-top: 0;
            }

            &__description{
                margin-top: 0;
            }
        }
    }

}

.availability-form{
    width: 100%;
    background-color: map-get($map: $theme-colors, $key: quaternary);
    display: flex;
    flex-direction: column;
    padding: 2.3rem 1.5rem;

    gap: 2.75rem;

    &>div{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: white;
        font-family: $font-roboto;

        &>label{
            font-size: 16px;
            font-weight: 700;
            line-height: 18.75px;
        }
    
        &>div{
            @extend .input;
    
            &>input{
                color: white;
                
                &::placeholder{
                    color: gray;
                }
            }
        }
    }


    &>button{
        width: 75%;
        max-width: 15rem;
    }

    &.--variant{
        background-color: white;

        &>div{
            &>label{
                color: black;
            }
            &>div{
                @extend .input.--variant;
            }
        }
        
        &>button{
            width: 100%;
        }
    }

}

.input{
    display: flex;
    align-items: start;
    gap: .5rem;
    border-bottom: 2px solid map-get($map: $theme-colors, $key: tertiary);
    padding-bottom: .5rem;
    
    &>input, &>textarea{
        flex: 1;
        background-color: transparent;
        border: 0;
        outline: none;
        pointer-events: none;
    }

    &.--variant{
        @extend .input;
        background-color: #F8F8F8;
        border: 0;
        padding: 1.5rem;
    }   
}

.amenities{
    &__list{

        &>article{
            min-width: 49%;
            display: inline-block;
            margin-block: .3rem;

            &>span{
                font-family: $font-roboto;
                color: rgb(110, 107, 107);
                font-size: 15px;
                font-weight: 500;
                line-height: 17.58px;
            }
        }
    }
}

@media (min-width: $desktop-size){
    .section-intro{
        padding-top: 15rem;
        padding-inline: $desktop-sections-padding 50rem;

        &__location{
            left: 90.75rem;
        }
    }

    .availability-form{
        padding-inline: $desktop-sections-padding;
        flex-direction: row;

        &>div{
            width: 26%;
        }

        &>button{
            margin-inline: auto 7%;
        }
    }

    .room__description{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        &__text{
            text-align: left;
            width: 50%;
            display: flex;
            flex-direction: column;

            &>h{
                font-size: 36px;
            }

            &>p{
                text-align: left;
                font-size: 14px;
            }
        }

        &__price__number{
            font-size: 40px;
        }
    }
}
