.footer{
    &__main{
        background-image: url('./../../../public/images/bg-rectangle.svg');
        padding: 1.1rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2rem;

        &>.title{
            height: 5rem;
        }

        &>p{
            @extend .archivo-header;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
        }

        & h4{
            @extend .old-standard-text;
            font-size: 24px;
            line-height: 24px;
        }

        &__header-base{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &__socials{
            display: flex;
            gap: 1rem;

            &>div{
                display: flex;
                justify-content: center;
                padding: .5rem;
                background-color: white;

                &:hover{
                    background-color: map-get($map: $theme-colors, $key: tertiary);
                }

                &>img{
                    height: 100%;

                    &.--fill{
                        background-color: rgb(119, 116, 116);
                    }

                    &:hover{
                        background-color: map-get($map: $theme-colors, $key: tertiary);
                    }
                }
            }
        }

        &__services{
            @extend .footer__main__header-base;

            &>section{
                &>span{
                    min-width: 45%;
                    padding-right: 2.1rem;
                    margin-block: 1rem;
                    display: inline-block;
                }
            }
        }

        &__contact{
            @extend .footer__main__header-base;

            &>section{
                display: flex;
                flex-direction: column;
                gap: 3rem;
                margin-block: 2rem;

                &>article{
                    display: flex;
                    gap: 1.3rem;

                    &>section{
                        &>h4{
                            font-size: 20px;
                        }
                        &>span{
                            font-family: map-get($map: $fonts, $key: roboto);
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 16.41px;
                            color: #777777;
                        }
                    }
                }
            }
        }
    }

    &__policy{
        width: 100%;
        background-color: #F8F8F8;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
}