$theme-colors: (
    main: white,
    secondary: #333333,
    tertiary: #BEAD8E,
    quaternary: #222222,
    quinary: #F9F9F9,
);
$fonts: (
    archivo: "Archivo",
    old-standard: "Old Standard TT",
    roboto: "Roboto",
);

$desktop-size: 1000px;

.standard-button{
    background-color: map-get($map: $theme-colors, $key: tertiary);
    color: white;
    border-color: #FFFFFF54;
    width: 12rem;
    padding: 1rem;
    font-family: map-get($map: $fonts, $key: archivo);
    font-size: 14px;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 2.799999952316284px;
    
    &.--transparent{
        background-color: transparent;
    }
}

.--invisible {
    display: none;
}
