$theme-colors: (
    main: white,
    secondary: #333333,
    tertiary: #BEAD8E,
    quaternary: #222222,
    quinary: #F9F9F9,
    senary: #BDAC8D,
    septenary: #C2C2C2,
);
$fonts: (
    archivo: "Archivo",
    old-standard: "Old Standard TT",
    roboto: "Roboto",
    oswald: "Oswald",
);

$desktop-size: 1000px;
$desktop-sections-padding: 23.125rem;

main{
    position: relative;
    display: flex;
    flex-direction: column;

    &>div.--desktop{
        padding: 1rem 0 4.1rem;
        color: white;
        background-color: map-get($map: $theme-colors, $key: quaternary);
    }
}

.title{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15%;
    font-family: map-get($map: $fonts, $key: archivo);

    &__logo{
        display: flex;
        align-items: center;
        height: 100%;
        aspect-ratio: 1 / 1.01;
        box-shadow: 0px 14px 24px 0px #8B8B8B40;
        padding: 1%;

        &.--variant{
            background-color: map-get($map: $theme-colors, $key: tertiary);
            color: white;
            font-size: 40px;
        }

        &>span{
            width: 100%;
            text-align: center;
            font-weight: 700;
        }
    }

    &__text{
        font-size: small;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.--variant{
            font-size: 26px;
            line-height: 28.29px;
            letter-spacing: 2.5999999046325684px;
        }
    }

    &.--variant{
        gap: 1rem;
    }
}

@mixin flex($direction: row){
    display: flex;
    flex-direction: $direction;
}

.flex-row{
    @include flex(row);
}

.flex-column{
    @include flex(column);
}

.section-base {
    margin-top: 2rem;
}

.section-common {
    @extend .section-base;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.standard-button{
    background-color: map-get($map: $theme-colors, $key: tertiary);
    color: white;
    border-color: #FFFFFF54;
    width: 12rem;
    padding: 1.1rem;
    font-family: map-get($map: $fonts, $key: archivo);
    font-size: 14px;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 2.799999952316284px;
    
    &.--transparent{
        background-color: transparent;
    }
}

.bg{
    position: absolute;
    z-index: -1;
    transform: scale(2);
    opacity: .12;

    &.--right-top{
        top: 2.3rem;
        right: 2.8rem;
    }
}

.archivo-header{
    font-family: map-get($map: $fonts, $key: archivo);
    color: #777777;
}

.old-standard-text{
    font-family: map-get($map: $fonts, $key: old-standard);
    color: map-get($map: $theme-colors, $key: quaternary);
    font-weight: 400;
}

.roboto-text{
    font-family: map-get($map: $fonts, $key: roboto);
    color: map-get($map: $theme-colors, $key: quaternary);
    font-size: 14px;
    font-weight: 400;
}

.paragraph{
    font-family: map-get($map: $fonts, $key: roboto);
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.--invisible {
    display: none;
}

.--row-reverse{
    display: flex;
    flex-direction: row-reverse;        
}

.--line-through{
    text-decoration: line-through;
}

.--dark{
    background-color: map-get($map: $theme-colors, $key: quaternary);
    
    &>*{
        color: white;
    }
}

@media (max-width: $desktop-size){
    .--desktop{
        display: none;
    }
}

@media (min-width: $desktop-size){
    $left-padding: 10.335rem;
    $second-padding: 3rem;
    $inner-padding: $left-padding + $second-padding;
    .container-centered {
        max-width: calc(100% - 2 * #{$left-padding});
        margin: 0 auto;
        width: 100%;
    }

    .--mobile{
        display: none;
    }

    .--desktop{
        &__row{
            flex-direction: row !important;
            &-reverse{
                flex-direction: row-reverse !important;
            }
        }
        &__left-margin{
            margin-left: $inner-padding;
        }

        &__move{
            &-up{
                margin-top: -2.5rem;
            }
        }
    }

    .title{
        height: 5rem;

        &__logo{
            font-size: 40px;
        }

        &__text{
            font-size: 26px;
            font-weight: 700;

        }
    }

    .centered-in-desktop{
        display: block;
        width: 66%;
        margin: 0 auto;
    }


    .padding-in-desktop{
        padding-inline: 16%;
    }

    .row-in-desktop{
        flex-direction: row;
    }

    main{
        gap: 10rem;
    }
}

