$font-archivo: map-get($map: $fonts, $key: archivo);

.header{
        position: fixed;
        width: 100vw;
        z-index: 10;
        background-color: map-get($map: $theme-colors, $key: main);

        &__nav {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            box-shadow: 1px 1px 10px gray;

            &.--column{
                box-shadow: none;
                flex-direction: column;

                &>*{
                    font-family: $font-archivo;
                    font-size: 1.1em;
                    font-weight: bold;
                    margin: .33em;
                    text-decoration: none;
                    color: inherit;
                }
            }

            &.--invisible {
                display: none;
            }
        }

        &__section {
            display: flex;
            align-items: center;
            gap: 1rem;

            &:first-child{
                width: 50%;
            }
        }
    }