$font-archivo: map-get($map: $fonts, $key: archivo);

.header{
        position: fixed;
        width: 100vw;
        max-width: $desktop-size;
        z-index: 10;
        background-color: map-get($map: $theme-colors, $key: main);

        &__nav {
            display: flex;
            padding: 1rem;
            box-shadow: 1px 1px 10px gray;

            &.--column{
                box-shadow: none;
                flex-direction: column;

                &>*{
                    font-family: $font-archivo;
                    font-size: 1.1em;
                    font-weight: bold;
                    margin-block: .7rem;
                    text-decoration: none;
                    color: inherit;
                }
            }

            &.--invisible {
                display: none;
            }
        }

        &__section {
            display: flex;
            align-items: center;
            gap: 1rem;
            width: 15%;
            min-width: 4rem;

            &:first-child{
                flex: 1;
            }
        }
    }

#header{
    &__menu{
        display: flex;
        flex-direction: column;
        padding: 1rem;

        &>*{
            font-family: $font-archivo;
            font-size: 1.1em;
            font-weight: bold;
            margin-block: .7rem;
            text-decoration: none;
            color: inherit;
        }

        &.--invisible{
            display: none;
        }

    }
}

@media (min-width: $desktop-size){
    .header{
        position: absolute;
        top: 3rem;
        right: 0;
        left: 0;
        margin: 0 auto;
    }

    #header{
        &__menu{
            display: flex;
            flex-direction: row;
            gap: 2rem;

            position: absolute;
            top: 19%;
            left: 27.2%;

            &>a{
                font-size: 16px;
            }

            &.--invisible{
                display: flex;
            }
        }

        &__icons{
            &>img{
                border: 1px solid;
                padding: .5rem;
            }
        }
    }
}