$font-archivo: map-get($map: $fonts, $key: archivo);

.header{
        position: fixed;
        max-height: 6.5rem;
        width: 100vw;
        z-index: 10;
        background-color: map-get($map: $theme-colors, $key: quaternary);
        color: white;

        &__nav {
            display: flex;
            padding: 1rem;
            box-shadow: 1px 1px 10px gray;
            background-color: white;
            color: black;

            &.--column{
                box-shadow: none;
                flex-direction: column;

                &>*{
                    font-family: $font-archivo;
                    font-size: 1.1em;
                    font-weight: bold;
                    margin-block: .7rem;
                    text-decoration: none;
                    color: inherit;
                }
            }

            &.--invisible {
                display: none;
            }
        }

        &__section {
            display: flex;
            align-items: center;
            gap: 1rem;
            width: 15%;
            min-width: 4rem;

            &:first-child{
                flex: 1;
            }
        }
    }

#header{
    &__menu{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background-color: white;
        color: black;

        &>*{
            font-family: $font-archivo;
            font-size: 1.1em;
            font-weight: bold;
            margin-block: .7rem;
            text-decoration: none;
            color: inherit;
        }

        &.--invisible{
            display: none;
        }

    }
}


@media (min-width: $desktop-size){
    .container-centered {
        max-width: 97.875rem;
        margin: 0 auto;
        width: 100%;
    }
    .header{
        &__header{
            background-color: map-get($map: $theme-colors, $key: quaternary);
            color: white;

            &>strong{
                display: block;
                @extend .container-centered;
                margin-block: 1rem;
            }
        }
        &__nav{
            @extend .container-centered
        }
    }

    #header{
        &__menu{
            display: flex;
            flex-direction: row;
            gap: 2rem;

            position: absolute;
            top: 19%;
            left: 27.2%;
            margin-top: 3.2rem;
            margin-left: 3rem;

            &>a{
                font-size: 16px;
            }

            &.--invisible{
                display: flex;
            }
        }

        &__icons{
            &>img{
                border: 1px solid;
                padding: .5rem;
            }
        }
    }
}