$quaternary-color: map-get($map: $theme-colors, $key: quaternary);
$old-standard-font: map-get($map: $fonts, $key: old-standard);
$archivo-font: map-get($map: $fonts, $key: archivo);

@mixin facilities-standard(){
    font-family: $old-standard-font;
    color: $quaternary-color;
    font-weight: 400;
}

.home__facilities{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 1rem;

    &>strong{
        @extend .archivo-header;
        font-size: 14px;
        font-weight: 700;
        line-height: 15.23px;
        letter-spacing: 2.799999952316284px;
    }

    &>h3{
        @include facilities-standard();
        font-size: 56px;
        line-height: 60px;
        letter-spacing: -1.2000000476837158px;
    }

    &__feature{
        padding-top: 5.5rem;
        padding-inline: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        align-items: start;
        text-align: start;

        &>span{
            transform: scale(1);
            right: 1rem;
            top: 0;
            font-family: $archivo-font;
            color: $quaternary-color;
            font-size: 120px;
            font-weight: 700;
            line-height: 130px;
        }

        &>h4{
            @include facilities-standard();
            font-size: 30px;
            line-height: 30px;
            letter-spacing: -0.8999999761581421px;
        }

        &>p{
            font-family: $archivo-font;
            color: #777777;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
        }
    }
}