$font-archivo: map-get($map: $fonts, $key: archivo);

.home{
    &__menu {
        position: fixed;
        width: 100vw;
        z-index: 10;
        background-color: map-get($map: $theme-colors, $key: main);

        &__nav {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            box-shadow: 1px 1px 10px gray;

            &.--column{
                box-shadow: none;
                flex-direction: column;

                &>*{
                    font-family: $font-archivo;
                    font-size: 1.1em;
                    font-weight: bold;
                    margin: .33em;
                    text-decoration: none;
                    color: inherit;
                }
            }

            &.--invisible {
                display: none;
            }
        }

        &__section {
            display: flex;
            justify-content: space-around;
            gap: 1rem;
            max-width: 50%;
        }

        &__title{
            display: flex;
            gap: .5rem;

            &__logo{
                box-shadow: 0px 14px 24px 0px #8B8B8B40;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: .8rem;

                &>span{
                    font-family: map-get($map: $fonts, $key: archivo);
                    font-weight: 700;
                    width: 0.6763rem;
                    height: 0.7719rem;
                    gap: 0px;
                    opacity: 0px;
                }
            }

            &>h3{
                display: flex;
                flex-wrap: wrap;
                font-family: $font-archivo;
                font-weight: 500;
                
            }
        }
    }
}