$weight-normal: 400;

.home__about{
    &__intro{
        background-color: map-get($map: $theme-colors, $key: quinary);
        padding: 2.5rem 1.5rem 12rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2rem;

        &>p{
            @extend .archivo-header;
        }

        &__header{
            font-size: 13px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 2.799999952316284px;
            text-align: center;
        }

        &>h2{
            font-family: map-get($map: $fonts, $key: old-standard);
            font-size: 56px;
            font-weight: $weight-normal;
            line-height: 60px;
            letter-spacing: -1.2000000476837158px;
        }

        &__description{
            font-size: 14px;
            font-weight: $weight-normal;
            line-height: 24px;
        }
    }

    &__info{
        margin-top: -10rem;
        display: flex;
        flex-direction: column;
        padding-inline: 2rem;
        gap: 2rem;

        &>article{
            display: flex;
            flex-direction: column;
            align-items: center;

            &>img{
                width: 100%;
                height: auto;
            }

            &>section {
                padding-block: 2rem;
                padding-inline: 3.1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                position: relative;

                &.--dark{
                    background-color: map-get($map: $theme-colors, $key: quaternary);
                    color: white;
                }

                &>p{
                    font-family: map-get($map: $fonts, $key: roboto);
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                    text-align: center;
                }
            }
        }
    }
}