$font-archivo: map-get($map: $fonts, $key: archivo);

.home{
    &__menu {
        position: fixed;
        width: 100%;
        z-index: 1;
        background-color: map-get($map: $theme-colors, $key: main);

        &__nav {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            box-shadow: 1px 1px 10px gray;

            &.--column{
                box-shadow: none;
                flex-direction: column;

                &>*{
                    font-family: $font-archivo;
                    font-size: 1.1em;
                    font-weight: bold;
                    margin: .33em;
                    text-decoration: none;
                    color: inherit;
                }
            }

            &.--invisible {
                display: none;
            }
        }

        &__section {
            display: flex;
            justify-content: space-around;
            gap: 1rem;
            max-width: 50%;
        }

        &__title{
            display: flex;
            gap: .5rem;

            &>h3{
                display: flex;
                flex-wrap: wrap;
                font-family: $font-archivo;
                font-weight: 500;
            }
        }
    }
}