#rooms{
    &__swiper{
        & .room{
            margin: 1.25rem;
        }
    }
}

.rooms-block{
    &>article{
        & .room{

            &__img{
                max-height: 14.125rem;
            }

            &__description{
                $padding: 1.6rem;
        
                z-index: 3;
                background-color: white;
                width: 80%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding-block: $padding;
                margin-inline: auto;
                max-width: 55rem;
        
                &>h4{
                    font-family: $old-standard-font;
                    color: black;
                    font-size: 28px;
                    font-weight: 400;
                    line-height: 36px;
                    letter-spacing: -1.2000000476837158px;
                }
        
                &>p{
                    @extend .roboto-text;
                    line-height: 24px;
                    text-align: center;
                }
            }

            &__price{
                display: flex;
                flex-direction: row;
                align-items: center;
                font-weight: 700;

                &__rate{

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    color: map-get($map: $theme-colors, $key: tertiary);
        
                    font-family: $archivo-font;
                    line-height: 43px;
                    text-align: center;
    
                    &__number{
                        font-size: 23px;
                        line-height: 25.02px; 
                    }
                    &__night{
                        font-size: 11px;
                        line-height: 11.97px;
                    }

                }

                &>hr{
                    display: none;
                }

                &__book{
                    margin-left: 1rem;
                    font-family: $archivo-font;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 17.41px;
                    color: #BDBDBD;
                }
            }

        }
    }
}

@media(min-width: $desktop-size){
    #rooms{
        &-block{
            display: flex;
        }
    }

    .rooms-block{
        margin-inline: 23.125rem;
        
        &>article{
            display: flex;
            flex-direction: row;
            gap: 2.5rem;

            & .room{
                &__img{
                    max-width: 29.375rem;
                    max-height: 19.0625rem;
                }
                            
                &__description{
                    display: flex;
                    flex-direction: column;

                    &>p{
                        text-align: start;
                    }
                }

                &__price{
                    flex-direction: column;
                    gap: 1rem;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    
                    &__rate{
                        display: flex;
                        flex-direction: row;

                        &__number{
                            font-size: 40px;
                            line-height: 43.52px;
                            text-align: right;
                        }
    
                        &__night{
                            font-size: 16px;
                            text-align: right;
                        }

                    }

                    &>hr{
                        display: block;
                        width: 60px;
                    }

                }
            }
        }
    }
}