@import 'global', 'swiper',
'home-menu', 'home-tour', 'home-availability-form', 
'home-about', 'home-rooms', 'home-intro-video', 
'home-facilities', 'home-food-menu';

html, * { 
    box-sizing: border-box;
    margin: 0;
    padding: 0 
}

body { min-width: 320px }