$tertiary-color: map-get($map: $theme-colors, $key: tertiary);

@mixin swiperArrows($bgColor, $color, $content){
    background-color: $bgColor;
    color: $color;
    &::after{
        content: $content;
        font-size: 9px;
    }
}

.swiper{
    width: 100%;

    &-navigation{
        max-height: 30rem;
        overflow: hidden;
    }
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-custom {
    width: 2rem;
    height: 2rem;
    top: 50%;
}

.swiper-button-next.--custom{
    @extend .swiper-button-custom;
    $bgColor: map-get($map: $theme-colors, $key: senary);
    @include swiperArrows($bgColor: $bgColor,$color: white ,$content: '>' );
}

.swiper-button-prev.--custom{
    @extend .swiper-button-custom;
    $bgColor: map-get($map: $theme-colors, $key: main);
    @include swiperArrows($bgColor: $bgColor,$color: black ,$content: '<' );
}

.swiper-pagination.--custom{
    position: relative;
    margin-block: 1.3rem .2rem;

    &>span{
        background-color: $tertiary-color;
    }
}

.nav-pagnum{
    position: relative;
    font-size: small;
    display: flex;

    &>.swiper-button-prev, &>.swiper-button-next, 
    &>.swiper-pagination{
        position: relative;
        height: 100%;
        color: black;
        top: 0;
        bottom: 0;
        margin-top: 0;

        &::after{
            font-size: 150%;
        }
    }

    &>#rooms_swiper-pagination{
        bottom: 0;
    }

    & .swiper-pagination-bullet {
        font-family: map-get($map: $fonts, $key: oswald);
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;

        width: auto;
        height: auto;
        padding: 5px 10px;
        margin: 0 5px;
        background-color: transparent;
        color: black;
        opacity: 1;
        border-radius: 0;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    & .swiper-pagination-bullet-active {
        background-color: $tertiary-color;
        color: white;
    }
}

@media (min-width: $desktop-size) {
    .swiper-button-custom{
        transform: scale(1.75);
    }
    $arrow-separation : 20rem;
    .swiper-button-next.--custom {
        right: $arrow-separation;
    }
    .swiper-button-prev.--custom {
        left: $arrow-separation;
    }
}
  