main {
  padding-top: 3rem; }

.title {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 15%;
  font-family: "Archivo"; }
  .title__logo {
    display: flex;
    align-items: center;
    height: 100%;
    aspect-ratio: 1 / 1.01;
    box-shadow: 0px 14px 24px 0px #8B8B8B40;
    padding: 1%; }
    .title__logo.--variant {
      background-color: #BEAD8E;
      color: white;
      font-size: 40px; }
    .title__logo > span {
      width: 100%;
      text-align: center;
      font-weight: 700; }
  .title__text {
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .title__text.--variant {
      font-size: 26px;
      line-height: 28.29px;
      letter-spacing: 2.5999999046325684px; }
  .title.--variant {
    gap: 1rem; }

.section-base, .section-common, .facilities, .home__rooms, .home__food-menu {
  margin-top: 2rem; }

.section-common, .facilities, .home__rooms, .home__food-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem; }

.standard-button {
  background-color: #BEAD8E;
  color: white;
  border-color: #FFFFFF54;
  width: 12rem;
  padding: 1rem;
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.799999952316284px; }
  .standard-button.--transparent {
    background-color: transparent; }

.bg-right-top {
  position: absolute;
  z-index: -1;
  top: 2.3rem;
  right: 2.8rem;
  transform: scale(2);
  opacity: .12; }

.archivo-header, .section-header__strong, .section-header > strong, .footer__main > p, .facilities > strong, .home__about__intro > p, .home__rooms > p, .home__food-menu > strong, .about__intro__tour__info > strong, .about__intro__tour__info > p {
  font-family: "Archivo";
  color: #777777; }

.old-standard-text, .section-header__title, .section-header > h3, .footer__main h4, .home__food-menu > h3, .home__food-menu__food__info > h4, .about__intro > p, .about__intro__tour__info > h3, .about__counter__facts__fact > section > h3 {
  font-family: "Old Standard TT";
  color: #222222;
  font-weight: 400; }

.roboto-text, .footer__policy, .home__about__info > article > section > p, .home__rooms__room__description > p, .home__food-menu__food__info > p, .about__counter__facts__fact > section > span {
  font-family: "Roboto";
  color: #222222;
  font-size: 14px;
  font-weight: 400; }

.--invisible {
  display: none; }

.section-intro, .home__tour {
  position: relative;
  padding: 6rem 1.2rem;
  background-color: #333333;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem; }
  .section-intro > strong, .home__tour > strong {
    font-family: "Archivo";
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.799999952316284px; }
  .section-intro > h2, .home__tour > h2 {
    font-family: "Old Standard TT";
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.2000000476837158px; }
  .section-intro__location {
    background-color: white;
    padding: 1.2rem;
    width: fit-content;
    position: absolute;
    bottom: 0;
    right: 1.2rem; }
    .section-intro__location > span {
      font-family: "Archivo";
      color: black;
      font-size: 16px;
      font-weight: 700;
      line-height: 17.41px;
      letter-spacing: -0.47999998927116394px; }
      .section-intro__location > span:last-child {
        color: #BEAD8E; }
.section-header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; }
  .section-header__strong, .section-header > strong {
    font-size: 14px;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 2.799999952316284px; }
  .section-header__title, .section-header > h3 {
    font-size: 56px;
    line-height: 49.44px;
    letter-spacing: -1.0499999523162842px; }

.swiper {
  width: 100%; }

.swiper-button-next.--custom {
  background-color: #BDAC8D;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  transform: translate(0, -5rem); }
  .swiper-button-next.--custom::after {
    content: ">";
    font-size: 9px; }

.swiper-button-prev.--custom {
  background-color: white;
  color: black;
  width: 1.5rem;
  height: 1.5rem;
  transform: translate(0, -5rem); }
  .swiper-button-prev.--custom::after {
    content: "<";
    font-size: 9px; }

.swiper-pagination.--custom {
  position: relative;
  margin-block: 1.3rem .2rem; }
  .swiper-pagination.--custom > span {
    background-color: #BEAD8E; }

.header {
  position: fixed;
  width: 100vw;
  z-index: 10;
  background-color: white; }
  .header__nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 1px 1px 10px gray; }
    .header__nav.--column {
      box-shadow: none;
      flex-direction: column; }
      .header__nav.--column > * {
        font-family: "Archivo";
        font-size: 1.1em;
        font-weight: bold;
        margin-block: .7rem;
        text-decoration: none;
        color: inherit; }
    .header__nav.--invisible {
      display: none; }
  .header__section {
    display: flex;
    align-items: center;
    gap: 1rem; }
    .header__section:first-child {
      width: 50%; }

.footer__main {
  background-image: url("./../../../public/images/bg-rectangle.svg");
  padding: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem; }
  .footer__main > .title {
    height: 5rem; }
  .footer__main > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; }
  .footer__main h4 {
    font-size: 24px;
    line-height: 24px; }
  .footer__main__header-base, .footer__main__services, .footer__main__contact {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .footer__main__socials {
    display: flex;
    gap: 1rem; }
    .footer__main__socials > div {
      display: flex;
      justify-content: center;
      padding: .5rem;
      background-color: white; }
      .footer__main__socials > div:hover {
        background-color: #BEAD8E; }
      .footer__main__socials > div > img {
        height: 100%; }
        .footer__main__socials > div > img.--fill {
          background-color: #777474; }
        .footer__main__socials > div > img:hover {
          background-color: #BEAD8E; }
  .footer__main__services > section > span {
    min-width: 45%;
    padding-right: 2.1rem;
    margin-block: 1rem;
    display: inline-block; }
  .footer__main__contact > section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-block: 2rem; }
    .footer__main__contact > section > article {
      display: flex;
      gap: 1.3rem; }
      .footer__main__contact > section > article > section > h4 {
        font-size: 20px; }
      .footer__main__contact > section > article > section > span {
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 400;
        line-height: 16.41px;
        color: #777777; }
.footer__policy {
  width: 100%;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: -0.47999998927116394px; }

.facilities {
  padding: 1rem; }
  .facilities > strong {
    font-size: 14px;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 2.799999952316284px; }
  .facilities > h3 {
    font-family: "Old Standard TT";
    color: #222222;
    font-weight: 400;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -1.2000000476837158px; }
  .facilities__feature {
    padding-block: 5.5rem 3rem;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    align-items: start;
    text-align: start; }
    .facilities__feature > span {
      transform: scale(1);
      right: 1rem;
      top: 0;
      font-family: "Archivo";
      color: #222222;
      font-size: 120px;
      font-weight: 700;
      line-height: 130px; }
    .facilities__feature > img:hover {
      transform: scale(1.05); }
    .facilities__feature > h4 {
      font-family: "Old Standard TT";
      color: #222222;
      font-weight: 400;
      font-size: 30px;
      line-height: 30px;
      letter-spacing: -0.8999999761581421px; }
    .facilities__feature > p {
      font-family: "Archivo";
      color: #777777;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; }
  .facilities.--dark {
    background-color: #222222; }
    .facilities.--dark > * {
      color: white; }
    .facilities.--dark .facilities__feature {
      background-color: #292929; }
      .facilities.--dark .facilities__feature > * {
        color: white; }
      .facilities.--dark .facilities__feature__number {
        color: #222222;
        z-index: 1;
        opacity: .72; }

.home__tour {
  gap: 2rem; }
  .home__tour > p {
    max-width: 67%;
    font-family: "Archivo";
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.799999952316284px; }
  .home__tour > h1 {
    font-family: "Old Standard TT";
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.2000000476837158px;
    text-align: left; }
  .home__tour__btns {
    display: flex;
    flex-direction: column;
    gap: 1rem; }

.home__availability-form {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  padding-block: 3rem;
  gap: 1.5rem; }
  .home__availability-form > * {
    color: white;
    font-family: "Roboto"; }
  .home__availability-form > label {
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px; }
  .home__availability-form > div {
    display: flex;
    gap: .5rem;
    border-bottom: 2px solid #BEAD8E;
    padding-bottom: .5rem; }
    .home__availability-form > div > input {
      background-color: transparent;
      border: 0;
      outline: none;
      pointer-events: none; }
  .home__availability-form > button {
    width: 70%; }

.home__about__intro {
  background-color: #F9F9F9;
  padding: 2.5rem 1.5rem 12rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem; }
  .home__about__intro__header {
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.799999952316284px;
    text-align: center; }
  .home__about__intro > h2 {
    font-family: "Old Standard TT";
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.2000000476837158px; }
  .home__about__intro__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; }
.home__about__info {
  margin-top: -10rem;
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
  gap: 2rem; }
  .home__about__info > article {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .home__about__info > article > img {
      width: 100%;
      height: auto; }
    .home__about__info > article > section {
      padding-block: 2rem;
      padding-inline: 3.1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      position: relative; }
      .home__about__info > article > section.--dark {
        background-color: #222222;
        color: white; }
      .home__about__info > article > section > p {
        line-height: 22px;
        text-align: center; }

.home__rooms {
  text-align: center; }
  .home__rooms > p {
    font-size: 14px;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 2.799999952316284px; }
  .home__rooms > h3 {
    font-family: "Old Standard TT";
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.2000000476837158px; }
  .home__rooms > .swiper-home-rooms {
    width: 100%;
    height: auto; }
  .home__rooms__room {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .home__rooms__room__img {
      margin-top: -2.8rem;
      width: 100%; }
    .home__rooms__room__services {
      position: relative;
      z-index: 2; }
    .home__rooms__room__description {
      margin-top: -2.6rem;
      z-index: 3;
      background-color: white;
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-block: 1.6rem; }
      .home__rooms__room__description > h4 {
        font-family: "Old Standard TT";
        font-size: 28px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -1.2000000476837158px; }
      .home__rooms__room__description > p {
        line-height: 24px;
        text-align: center; }
      .home__rooms__room__description__price {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        .home__rooms__room__description__price__number {
          font-family: "Archivo";
          font-size: 32px;
          font-weight: 700;
          line-height: 43px;
          text-align: center;
          color: #BEAD8E; }
        .home__rooms__room__description__price > span {
          font-family: "Archivo";
          font-size: 13px;
          font-weight: 700;
          line-height: 43px;
          text-align: center;
          color: #BEAD8E; }

.home__intro-video {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-inline: 1.2rem;
  padding-block: 3.6rem;
  gap: 2.4rem; }
  .home__intro-video > strong {
    font-family: "Archivo";
    font-size: 14px;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 2.799999952316284px;
    color: #BDAC8D; }
  .home__intro-video__title {
    font-family: "Old Standard TT";
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.2000000476837158px;
    color: white; }
  .home__intro-video > p {
    font-family: "Archivo";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #C2C2C2; }
  .home__intro-video__player {
    width: 100%;
    border: 0; }

.home__food-menu {
  text-align: left;
  background-image: url(../../../public/images/icon\ 4.svg);
  background-repeat: no-repeat;
  background-position: right top;
  padding-top: 7rem;
  padding-inline: 1rem; }
  .home__food-menu > strong {
    font-size: 14px;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 2.799999952316284px; }
  .home__food-menu > h3 {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -1.2000000476837158px; }
  .home__food-menu > .swiper {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    .home__food-menu > .swiper > .swiper-menu__buttons {
      display: flex;
      justify-content: end;
      gap: 3rem;
      padding-block: 1rem; }
      .home__food-menu > .swiper > .swiper-menu__buttons > div {
        transform: translate(0);
        transform: scale(1.5);
        position: relative; }
  .home__food-menu__food {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 1rem; }
    .home__food-menu__food > img {
      max-width: 40%; }
    .home__food-menu__food__info {
      display: flex;
      flex-direction: column;
      gap: 1rem; }
      .home__food-menu__food__info > h4 {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: -0.7200000286102295px; }
      .home__food-menu__food__info > p {
        line-height: 24px; }

#home-food-view {
  gap: 0;
  display: flex;
  justify-content: center; }
  #home-food-view > .swiper-wrapper > .swiper-slide > img {
    width: 100%; }

.home__metrics {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .home__metrics__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    color: white; }
    .home__metrics__card__text {
      font-family: "Roboto";
      text-align: center;
      font-weight: 700; }
      .home__metrics__card__text > div {
        margin-bottom: -1rem; }
        .home__metrics__card__text > div > h3 {
          display: inline;
          font-size: 60px;
          line-height: 81.84px; }
        .home__metrics__card__text > div > span {
          font-size: 16px;
          line-height: 21.82px; }
      .home__metrics__card__text > span {
        font-size: 16px;
        line-height: 21.82px;
        color: #999999; }

.about__intro {
  padding: 3rem 1.6rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem; }
  .about__intro > iframe {
    width: 100%;
    height: calc(335 / 186 * 100%); }
  .about__intro > p {
    font-size: 32px;
    line-height: 39.55px;
    letter-spacing: -1.159999966621399px;
    text-align: center; }
  .about__intro__services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem; }
    .about__intro__services > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1.5rem .1rem;
      gap: 1rem; }
      .about__intro__services > div:hover {
        background-color: #BEAD8E;
        color: white; }
        .about__intro__services > div:hover > img {
          filter: grayscale(100%) brightness(200%); }
      .about__intro__services > div > img {
        width: 40%;
        filter: sepia(1) hue-rotate() saturate(700%) brightness(60%); }
      .about__intro__services > div > strong {
        font-family: "Archivo";
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 2.4000000953674316px;
        text-align: center; }
  .about__intro__tour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 1.5rem;
    box-shadow: 0px 14px 24px 0px #B8B8B81A; }
    .about__intro__tour__info {
      display: flex;
      flex-direction: column;
      gap: 1.5rem; }
      .about__intro__tour__info > strong {
        font-size: 14px;
        font-weight: 700;
        line-height: 15.23px;
        letter-spacing: 2.799999952316284px; }
      .about__intro__tour__info > h3 {
        font-size: 40px;
        font-weight: 400;
        line-height: 49.44px;
        letter-spacing: -1.0499999523162842px; }
      .about__intro__tour__info > p {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; }

.about__counter {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem; }
  .about__counter__facts {
    display: flex;
    flex-direction: column;
    gap: 3.2rem; }
    .about__counter__facts__fact {
      display: flex;
      gap: 1rem; }
      .about__counter__facts__fact > section {
        width: 80%; }
        .about__counter__facts__fact > section > h3 {
          font-size: 60px;
          line-height: 60px;
          letter-spacing: -1.7999999523162842px; }
        .about__counter__facts__fact > section > span {
          color: gray;
          font-size: 16px;
          line-height: 16px; }
  .about__counter > div img {
    width: 100%; }

.about {
  display: flex;
  flex-direction: column;
  gap: 2rem; }

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-width: 320px; }

/*# sourceMappingURL=styles.css.map */
